body {
  background: #fafafa;
  color: white;
  margin-top: 5rem;
  background-image: url('res/marriage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-opacity:0.5;
}
